@font-face {
    font-family: 'Apercu Bold';
    src: url(../assets/fonts/Apercu\ Bold.otf);
}

@font-face {
    font-family: 'Apercu Medium';
    src: url(../assets/fonts/Apercu\ Medium.otf);
}

@font-face {
    font-family: 'Apercu';
    src: url(../assets/fonts/Apercu\ Regular.otf);
}